<div class="event-card-container">
  <div class="event-card" *ngFor="let event of events">
    <!-- <img src="{{ event.imageUrl }}" alt="Event Image"> -->
    <div class="event-card-content">
      <h3>{{ event.name }}</h3>
      <p>Event Date: {{ event.eventStartDate | date:'d MMM yy' }}</p>
      <p>Location: {{ event.location }}</p>
      <p>Description: {{ event.description }}</p>
      <p style="color: rgb(11, 163, 11); font-weight: bold;">Tickets Available: {{ event.noOfSeats }}</p>
      <button class="book-now-button">Book Now</button>
    </div>
  </div>
</div>

