<div class="event-card-container">
  <div class="event-row">  
    <div class='col-12'>  
      <ngb-carousel>
        <ng-template ngFor let-slide [ngForOf]="slides">
          <ng-template ngbSlide>
            <img [src]="slide.imageSrc" [alt]="slide.alt" class="event-image">
            <div class="carousel-caption">
              <h3 style="color: rgb(255, 165, 31)">{{ slide.alt }}</h3>
            </div>
          </ng-template>
        </ng-template>
      </ngb-carousel>
    </div>  
  </div>
  <div class="category">
    <div class="category-header">Events</div>
    <div class="event-card" *ngFor="let event of events; let i=index">
      <img [src]="slides[i].imageSrc" alt="Event Image">
      <div class="event-card-content" (click)="getEventById(event.id)">
        <p class="event-header">{{ event.name }}</p>
        <p class="event-description">{{ event.description }}</p>
        <p class="event-info" [innerHTML]="event.eventStartDate | customDate:'MMM yyyy'"></p>
        <p class="event-info"><i class="fas fa-map-marker-alt"></i>{{ event.location }}</p>
        <p class="event-info" style="color: rgb(255 165 31); font-weight: bold;">Tickets Available: {{ event.noOfSeats }}</p>
      </div>
    </div>
  </div>
</div>

