<div class="event-card-container">
  <div class="event-row">  
    <div class='col-12'>  
      <ngb-carousel>
        <ng-template ngFor let-slide [ngForOf]="slides">
          <ng-template ngbSlide>
            <img [src]="slide.imageSrc" [alt]="slide.alt" class="event-image">
            <div class="carousel-caption">
              <h3 style="color: yellow">{{ slide.alt }}</h3>
            </div>
          </ng-template>
        </ng-template>
      </ngb-carousel>
    </div>  
  </div>
  <div class="event-card" *ngFor="let event of events">
    <!-- <img src="{{ event.imageUrl }}" alt="Event Image"> -->
    <div class="event-card-content" (click)="getEventById(event.id)">
      <h3>{{ event.name }}</h3>
      <p class="event-info">Event Date: {{ event.eventStartDate | date:'d MMM yy' }}</p>
      <p class="event-info">Location: {{ event.location }}</p>
      <p class="event-description">{{ event.description }}</p>
      <p class="event-info" style="color: rgb(11, 163, 11); font-weight: bold;">Tickets Available: {{ event.noOfSeats }}</p>
    </div>
  </div>
</div>

