  img{
    object-fit: cover;
  }
  
  .event-image{
    height: 450px;
    width: 1349px;
  }

  .event-row::after { 
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom,#c2c9ca00, #ffffff4b, #ffffff);
    margin-top: -200px;
    height: 200px;
    width: 100%;
    content: '';
  }

  .event-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .event-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    height: 300px;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
    text-align: center;
    float:left;
  }

  .event-card:hover{
    transform: scale(1.05);
    box-shadow: 4px -2px 8px rgba(0, 0, 0, 0.6);
  }

  .event-card img {
    position: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }

  .event-card-content {
    position: relative;
    bottom: 300px;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    background-image: linear-gradient(to bottom,#000000e7, #00000048, #000000);
    height: 300px;
  }

  .book-now-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .event-header{
    font-size: 16px;
    font-weight: bold;
  }

  .event-info {
    height: 40px;
    overflow: hidden;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .event-info i{
    margin:3px;
  }
  
  .event-description {
    height: 80px;
    overflow: hidden;
    margin-top: 30px;
  }

  .category-header{
    margin: 10px;
    font-size: 5vh;
    font-weight: bold;
    color: rgb(255, 165, 31);
    text-shadow: -1px 4px 2px rgba(255, 165, 31,0.3) 
  }

  .clear{
    clear:both;
  }
  
  .event-banner{
    position: absolute;
    left:18%;
    top:20%;
    background-color: rgba(0, 0, 0, 0.418);
    width:900px;
    height:300px;
    z-index: 100;
    border-radius: 10px;
    overflow: hidden;
  }

  .event-banner-content{
    margin:100px;
    font-size: 36px;
    font-weight: bold;
    color:#ffffff;
  }